.App {
  text-align: center;
}
.nav-wrapper {
  background-color: #247037;
  color: white;
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
}
.top-menu {
  font-size: 16px;
  font-weight: 500;
}
.inactive-text {
  color: #247037;
}
.active-text {
  text-decoration: underline;
}
