/* General Styles */
body {
  padding: 0;
}

.App {
  text-align: center;
}

/* Useful Shared Styles */
.inactive-text {
  color: #247037;
}

.top-menu {
  font-size: 16px;
  font-weight: 500;
}

.active-text {
  text-decoration: underline;
}
