
.middle-indicator{
   position:absolute;
   top:40%;
   }

  .middle-indicator-text{
   font-size: 4.2rem;
  }

  a.middle-indicator-text{
    color:white !important;
  }

.content-indicator{
    width: 64px;
    height: 64px;
    background: none;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 50px;
  }

.indicators{
	visibility: hidden;
}

.right-arrow {
  margin-right: 5%;
}

.left-arrow {
  margin-left: 5%;
}
