
.top {
  margin-bottom: 10px;
  background-color: #3f5175;
  border-radius: 4px;
  height: 400px;
  box-shadow: 1px 1px 1px 0px rgba(37, 41, 51, 1);
}

.bottom-left {
  background-color: #3f5175;
  border-radius: 4px;
  height: 400px;
  box-shadow: 1px 1px 1px 0px rgba(37, 41, 51, 1);
}

.bottom-right {
  background-color: #3f5175;
  border-radius: 4px;
  height: 400px;

  box-shadow: 1px 1px 1px 0px rgba(37, 41, 51, 1);
}

.shadow {
  -webkit-filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.3));
}

.pad {
  padding: 20px;
}

.browser-legend {
  font-size: 14px;
  opacity: 0.8;
}

.bottom-left-svg {
  padding-top: 40px;
  text-align: center;
}

.bottom-right-svg {
  text-align: center;
}

.line {
  fill: none;
  stroke: #7dc7f4;
  stroke-width: 5px;
}

.axis {
  fill: #bbc7d9;
  opacity: 1;
}

.axis path,
.axis line {
  fill: none;
  stroke: none;
  shape-rendering: crispEdges;
}

.axis text {
  font-size: 14px;
}

.y-grid .tick {
  stroke: #4b5f87;
  opacity: 1;
}
