.nav-wrapper {
  background-color: #247037;
  color: white;
  font-size: 23px;
  font-family: 'Roboto', sans-serif;
}

.weight-500 {
  font-weight: 500;
}

.font-16 {
  font-size: 16px;
}

.button-collapse.hamburger-menu-button {
  margin: 0;
  padding-right: 18px;
}
