.card-action {
  border: 1px solid #979797;
}
.card-action.card-continue {
  background-color: #407C40;
  height:40px;
  padding: 9px 24px;
}

.card-action #card-link {
  color: #4A4A4A;
}

.card-action.card-continue #card-link {
  color:white;
}
.card-action.red-status {
  background-color: #D0021B;
}

.card-action.warning-status {
  background-color: #F5A623;
  height: 35px;
  padding: 7px 24px;
}

.card-action.green-status {
  background-color: #AEE15C;

}

.remove-btn{
  height: 22px;
  color:white;
  margin-bottom: -10px;
  background-color: #979797;
}

.remove-btn > a{
  color:white;
}

.card-review-btn {
  background-color: #13B5EA;
  height:40px;
}

#card-suggested {
  padding-bottom: 0px;
}
.no-text-transform{
  text-transform: none;
}
